header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  & > .avatar {
    display: none !important;
  }

  a.logo {
    display: block;
    width: 25%;
    margin: 0 auto;
    transform: translateX(-4em);

  }

  .logo > img {
    //border: 1px solid green;
    min-width: 200px;
    width: 17%;
  }

  img.hand-down-nav {
    width: 2em;
    margin-left: 1em;
    &:hover {
      cursor: pointer;
    }
  }

  .function-area {
    display: none;

  }


  .welcome {
    display: none;
  }

  @media screen and (min-width: $m-screen){
    img.hand-down-nav {
      display: none;
    }

    .function-area {
      //border: 1px solid greenyellow;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;
      margin-left: 2em;
      margin-right: 1em;

      .avatar {
        width: 36px;
      }

    }

    a.logo {
      transform: translateX(1em);
      margin: 0 2em 0 1em;
    }
  }

  .reveal {
    display: none;
  }

}

@media (min-width: $m-screen + 120px) {
  div.vertical {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    backdrop-filter: blur(10px);
    transition: backdrop-filter 2s ease-in-out;


    header {
      position: fixed;
      grid-column: 1 / 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      //height: 100vh;
      gap: 1em;

      & > .avatar {
        display: block !important;
        order: 0;
        width: 100px;
        margin-top: 4em;
      }


      .welcome {
        display: block;
        order: 1;
        margin-top: 1.5em;
        font-size: 1.3em;
      }

      .logo {
        order: 2;
        margin-top: 1.5em;
        margin-left: .2em;
        align-self: flex-start;
        width:95%;
        max-width: 350px;


        img {
          width: 100%;
        }

      }

      .function-area {
        order: 3;
        align-self: flex-start;
        margin-left: 3em;

        .avatar {
          display: none;
        }
      }

    }

    div.article-list {
      //border: 1px solid black;
      grid-column: 4 / 13;
      margin-left: 0;
    }

  }
}


.side-header {
  //background-color: #81f494;
  background-color: #fff;
  opacity: .9;
  position: absolute;
  z-index: 99;
  height: 20em;
  width: 100vw;
  padding: 1.5em;

  animation: drop-down 1s forwards;

  display: flex;
  flex-direction: column;


  // Note: Go to Navbar.scss to edit navbar style

  .function-area {
    margin-top: 1.5em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    width: 2em;
    height: 4em;

    .avatar {
      width: 2.4em;
    }
  }
}

@keyframes drop-down {
  from {
    top: -10em;
  }

  to {
    top: 0;
  }

}