div.login {
  @include login-form($form-height: 69%);


  div.status-reminder {
    width: 90%;
    padding: 0;
  }

  form {
    div.options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: .6em;

      @media screen and (min-width: $m-screen) {
        font-size: .8em;
      }

      label, a {
        display: inline-block;
      }

      label {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: .4em;
        gap: .4em;

        input {
          width: auto;
        }
      }
    }
  }
}