div.status-reminder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: .3em;
  padding: 4px .4em;
  margin: .5em 0;
  background-color: #F0EBEB;

  img {
    height: 1.2em;
  }

  p {
    font-size: .6em;
  }

  @media screen and (min-width: $m-screen){
    font-size: 1.3em;
  }

  &[class~="warning"] {
    border: 2px solid gold;
  }

  &[class~="ban"] {
    border: 1px solid red;
  }

}