@import "../../styles/root";

main {
  //border: 1px solid purple;
  //background-color: $bg-white;
  @media screen and (min-width: $m-screen){
    min-height: 20em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    article.poem {
      flex: 1;
    }
  }
  position: relative;
  flex-grow: 1;
  padding-top: 1em;
  backdrop-filter: blur(1px);

  article.poem, div.title {
    width: 90%;
    margin: 1em auto;

  }

  article.poem {
    //background-color: $bg-white;
    height: 100%;

    margin: 0 auto;
    padding: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    white-space: pre-line;

    font-size: 1.1rem;
    font-family: $font-zh-poem;
    line-height: 1.7;
    border: 1px solid $form-black;

    .content {
      height: 100%;

      p {
        display: block;
      }
    }


    .read-more {
      font-size: .8em;
      color: $soft-black;
      text-align: center;
      width: 11ch;
      padding: .3em;

      border-radius: .3em;
      border: 1px solid $form-black;

      position: absolute;
      right: 2.5em;
      bottom: 0;
      @media screen and (max-width: $m-screen - 300px){
        left: 5%;
        bottom: -4em;

      }
      @media screen and (min-width: $m-screen + 160px){
        right: 5%;
        bottom: 2.8em;
      }

      &:hover {
        cursor: pointer;
      }

    }


  }

  .title {
    font-size: 1.5em;
    color: #fff;
    //font-family: $font-en-title, $font-zh-title;

    &::before {
      content: "";
      border: 2px solid $young-yellow;
      display: inline;
    }

    p {
      display: inline-block;
      width: 90%;
      margin-left: .5em;
    }
  }

  @media (min-width: $m-screen) {
    & {
      max-width: 900px;
      min-width: 80%;
      margin: 0 auto;

    }

    .title {
      font-size: 1.2em;
    }

    article.poem {
      column-count: 2;
      padding: 2em 3em;
      line-height: 2;

      .read-more {
        margin-top: 2em;

        p {
          right: -1em;
        }
      }
    }
  }

  @media screen and (min-width: 880px) {
      margin-top: 2em;
      .title {
        font-size: 2em;
        color: black;
      }

      .read-more {
        p {
          right: -2em;
        }
      }
  }
}

